---
import NodeLayout from '/src/layouts/NodeLayout.astro';
const title = "建立信仰和信心";
---
<NodeLayout title={title}>
  <p>‘信仰’一詞有諸多意義和引申，全視你心靈層面的深度。就禪修的目的而言，信仰和‘信心’更密切地連在一起。然而對剛開始禪修的學生而言，要對尚未經歷的事生起信心，這有一定難度。禪修不需要盲目信仰，禪修需要實踐和親證。修習愈多，你的信仰/信心就增長愈多。</p>

  <p>同時，當你開始禪修之旅時，閱讀和探索 研究能夠幫助你獲得足夠的啟發，使你採取必要步驟，始終如一地努力修行，即使剛開始時沒什麼感覺也不會停止。不幸的是，當今社會趨向以「速食」模式運作， 我們期待立即的成效。開展有成效的禪修是需要時間及大量的耐心，禪師會以「進取心」這個詞來形容禪修所需堅定不移的精神。</p>

  <p>那為何要開始禪修呢？如果開始禪修這麼困難，為什麼要花這個時間？為什麼要找這個麻煩？這是一個很好的問題，你會在這裏提供的第一份資料中找到答案：德寶法師所著的《<a href="./mindfulness_in_plain_english_han.pdf">佛教禪修直解</a>》第一章——<a href="./mindfulness_in_plain_english_han.pdf#page=13">為什麼要禪修？</a></p>

  <p>現在你已經有機會閱讀<a href="./mindfulness_in_plain_english_han.pdf#page=13">為什麼要禪修？</a>或許你已經知道禪修的重要性及利益。在當今世界的很多學科中，特別是衛生、教育、醫藥、科學、技術和心理學領域，禪修的價值得到極高的認可，被視為新時代的前沿。</p>

  <p>人們正在研究和探索身、心、靈之間的關聯，打開這個領域的關鍵是禪修及培育正念。我們下一個提供的資料來源是一場演講，包含了名為正念減壓療程（MBSR）的一個新研究領域不斷成功的經驗。如果你對禪修潛力仍然懷疑和有疑問，請花點時間看看蔡淑英的<a href="http://www.houstonmeditationc.com/sites/default/files/mbsr-2011-han.pdf">正念減壓療程（MBSR）</a>。</p>

  <p>類似上述MBSR的資料，我們提供另一場演講資料：進一步強調堅定不移的禪修能帶給精進的學生好處。請注意，這些研究和探索已行之有年，只是現在這個世界才開始發現這些修行所帶來的利益。多瑞斯的‘ <a href="http://www.houstonmeditationc.com/sites/default/files/Meditation-Improves-Brain-Structure-and-Function-han.pdf">禪修改變大腦結構和功能</a>’是下一個推薦的閱讀，你對禪修帶給你的利益會進一步建立起信仰和信心。</p>

  <p>在<strong>建立信仰和信心</strong>這章節推薦的下一份資料，是因其具有啟發性的特質。我們常常聽到‘快樂源自內心’，但這是什麼意思呢？為了鼓勵和讓你理解，我們為你提供湯姆的‘<a href="http://www.houstonmeditationc.com/sites/default/files/Inner-Peace-han.pdf">內在的平靜</a>’。</p>

  <p>我們最後的推薦仍是源自德寶法師的《<a href="./mindfulness_in_plain_english_han.pdf">佛教禪修直解</a>》。在你將自己投入紮實、嚴格的修行前，了解<a href="./mindfulness_in_plain_english_han.pdf#page=24">禪修是什麼</a>(PDF)十分重要。如果對於你想成就的東西沒有一個正確的見解，你的旅途將會是困難重重。</p>
</NodeLayout>
