---
import NodeLayout from '/src/layouts/NodeLayout.astro';
const title = "隨順法流";
---
<NodeLayout title={title}>
  <p>前言 <a href="https://web.archive.org/web/20231130012120/http://www.houstonmeditationc.com/sites/default/files/ssfl_Traditional-Sabrina4_6_2021_1-5.pdf">1</a><br/>
    坐禪 / 行禪 <a href="https://web.archive.org/web/20231130012120/http://www.houstonmeditationc.com/sites/default/files/ssfl_Traditional-Sabrina4_6_2021_6-11.pdf">6</a><br/>
    受念處 <a href="https://web.archive.org/web/20231130012120/http://www.houstonmeditationc.com/sites/default/files/ssfl_Traditional-Sabrina4_6_2021_12-15.pdf">12</a><br/>
    心念處 <a href="https://web.archive.org/web/20231130012120/http://www.houstonmeditationc.com/sites/default/files/ssfl_Traditional-Sabrina4_6_2021_16-21.pdf">16</a><br/>
    法念處 <a href="https://web.archive.org/web/20231130012120/http://www.houstonmeditationc.com/sites/default/files/ssfl_Traditional-Sabrina4_6_2021_22-end.pdf">22</a><br/><br/><a href="https://web.archive.org/web/20231130012120/http://www.houstonmeditationc.com/sites/default/files/ssfl_Traditional-Sabrina4_6_2021.pdf">全程開展實修四念處觀禪</a></p>
</NodeLayout>
