
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 00:39:22 Jan 10, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:14:08 Apr 24, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.81
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 18.233
  LoadShardBlock: 283.547 (3)
  PetaboxLoader3.datanode: 303.521 (6)
  PetaboxLoader3.resolve: 505.361 (3)
  load_resource: 534.302 (2)
  loaddict: 38.974
*/