
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 12:45:05 Jan 09, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:14:08 Apr 24, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.692
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 4.78
  LoadShardBlock: 47.423 (3)
  PetaboxLoader3.datanode: 87.213 (6)
  load_resource: 224.134 (2)
  PetaboxLoader3.resolve: 160.236 (2)
  loaddict: 29.222
*/