---
const { title } = Astro.props;
import '../styles/modules/system/system.base.css';
import '../styles/modules/system/system.menus.css';
import '../styles/modules/system/system.messages.css';
import '../styles/modules/system/system.theme.css';

import '../styles/modules/comment/comment.css';
import '../styles/modules/field/theme/field.css';
import '../styles/modules/node/node.css';
import '../styles/modules/search/search.css';
import '../styles/modules/user/user.css';
import '../styles/sites/all/modules/ckeditor/css/ckeditor.css';

import '../styles/sites/all/themes/venture_theme/style.css';
import '../styles/sites/all/themes/venture_theme/css/responsive.css';
---
<!DOCTYPE html>
<html lang="zh-hant">
<head>
  <base href={import.meta.env.BASE_URL} />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title} | 休斯頓禪修社區</title>
  <meta name="description" content="A brief description of your page content (around 155 characters)">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1 node-type-article i18n-zh-hant"><div id="wrap">
  <div id="header-wrap" class="clr fixed-header">
    <header id="header" class="site-header clr container">
      <div id="logo" class="clr">
        <div id="site-logo"><a href="/" title="首頁">
	  <img src="hmclogo.jpg" alt="首頁">
        </a></div>
      </div>
      <div id="sidr-close"><a href="/node/1#sidr-close" class="toggle-sidr-close"></a></div>
      <div id="site-navigation-wrap">
        <a href="/node/1#sidr-main" id="navigation-toggle"><span class="fa fa-bars"></span>Menu</a>
        <nav id="site-navigation" class="navigation main-navigation clr" role="navigation">
          <div id="main-menu" class="menu-main-container">
	    <ul class="menu"><li class="first leaf"><a href="/">首頁</a></li>
	      <li class="expanded"><a href="/node/4" title="">禪修</a><ul class="menu"><li class="first leaf"><a href="/node/2">初學禪修</a></li>
		<li class="last leaf"><a href="/node/3">共修</a></li>
	      </ul></li>
	      <li class="leaf"><a href="/node/5">資源</a></li>
	      <li class="last leaf"><a href="/node/6">關於我們</a></li>
	    </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <slot />

  <div id="footer-wrap" class="site-footer clr">
    <div id="footer" class="clr container">
      <div class="span_1_of_1 col col-1">
        <div class="region region-footer">
	  <div id="block-block-1" class="block block-block">
	    <div class="content">
	      <p><span style="color:#BBB">All Rights Reserved</span></p>
	      <p><a href="/user">User Access</a></p>
	    </div>
	  </div> <!-- /.block -->
	</div>
	<!-- /.region -->
      </div>
    </div>
  </div>
      
  <footer id="copyright-wrap" class="clear">
    <div id="copyright">Copyright © 2025, <a href="/">休斯頓禪修中心</a>. Theme by  <a href="http://www.devsaran.com/" title="Devsaran" target="_blank">Devsaran</a>.</div>
  </footer>
</div>  
</body>
</html>
