---
import '../styles/modules/system/system.base.css';
import '../styles/modules/system/system.menus.css';
import '../styles/modules/system/system.messages.css';
import '../styles/modules/system/system.theme.css';

import '../styles/modules/comment/comment.css';
import '../styles/modules/field/theme/field.css';
import '../styles/modules/node/node.css';
import '../styles/modules/search/search.css';
import '../styles/modules/user/user.css';
import '../styles/sites/all/modules/ckeditor/css/ckeditor.css';

import '../styles/sites/all/themes/venture_theme/style.css';
import '../styles/sites/all/themes/venture_theme/css/responsive.css';
---
<!DOCTYPE html>
<!-- saved from url=(0093)https://web.archive.org/web/20230925232402id_/http://houstonmeditationc.com/?q=zh-hant/node/1 -->
<html lang="zh-hant" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="Generator" content="Drupal 7 (http://drupal.org)">
<link rel="canonical" href="/node/1">
<link rel="shortlink" href="/node/1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://houstonmeditationc.com/sites/all/themes/venture_theme/favicon.ico" type="image/vnd.microsoft.icon">
<title>歡迎！ | 休斯頓禪修中心</title>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/jquery.min.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/jquery-extend-3.4.0.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/jquery-html-prefilter-3.5.0-backport.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/jquery.once.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/drupal.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/zh-hant_FW79g4sDtpda-yRQ7d3TYNn9fplTclVO8Dxd_HXitco.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/retina.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/plugins.js"></script>
<script type="text/javascript" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/global.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"zh-hant\/","ajaxPageState":{"theme":"venture_theme","theme_token":"I78DWtskUlWqX7BfMf4Xf5tOHX6I5XddYA9LO_Q57LE","js":{"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery-extend-3.4.0.js":1,"misc\/jquery-html-prefilter-3.5.0-backport.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"public:\/\/languages\/zh-hant_FW79g4sDtpda-yRQ7d3TYNn9fplTclVO8Dxd_HXitco.js":1,"sites\/all\/themes\/venture_theme\/js\/retina.js":1,"sites\/all\/themes\/venture_theme\/js\/plugins.js":1,"sites\/all\/themes\/venture_theme\/js\/global.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"modules\/comment\/comment.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/themes\/venture_theme\/style.css":1,"sites\/all\/themes\/venture_theme\/css\/responsive.css":1}}});
//--><!]]>
</script>
<!--[if lt IE 9]><script src="/sites/all/themes/venture_theme/js/html5.js"></script><![endif]-->
</head>
  <body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1 node-type-article i18n-zh-hant">
    <div id="wrap">
      <div id="header-wrap" class="clr fixed-header">
	<header id="header" class="site-header clr container">
	  <div id="logo" class="clr">
            <div id="site-logo"><a href="/" title="首頁">
	    <img src="/hmclogo.jpg" alt="首頁">
          </a></div>
          </div>
	  <div id="sidr-close"><a href="/node/1#sidr-close" class="toggle-sidr-close"></a></div>
	  <div id="site-navigation-wrap">
            <a href="/node/1#sidr-main" id="navigation-toggle"><span class="fa fa-bars"></span>Menu</a>
            <nav id="site-navigation" class="navigation main-navigation clr" role="navigation">
              <div id="main-menu" class="menu-main-container">
		<ul class="menu"><li class="first leaf"><a href="/">首頁</a></li>
		  <li class="expanded"><a href="/node/4" title="">禪修</a><ul class="menu"><li class="first leaf"><a href="/node/2">初學禪修</a></li>
		      <li class="last leaf"><a href="/node/3">共修</a></li>
		  </ul></li>
		  <li class="leaf"><a href="/node/5">資源</a></li>
		  <li class="last leaf"><a href="/node/6">關於我們</a></li>
	      </ul>          </div>
            </nav>
	  </div>
	</header>
      </div>

      <slot />

      <div id="footer-wrap" class="site-footer clr">
	<div id="footer" class="clr container">
          
          <div class="span_1_of_1 col col-1">
            <div class="region region-footer">
	      <div id="block-block-1" class="block block-block">

		
		<div class="content">
		  <p><span style="color:#BBB">All Rights Reserved</span></p>

		  <p><a href="/user">User Access</a></p>
		</div>
		
	      </div> <!-- /.block -->
	    </div>
	    <!-- /.region -->
          </div>
        </div>
      </div>
      
      <footer id="copyright-wrap" class="clear">
	<div id="copyright">Copyright © 2023, <a href="/">休斯頓禪修中心</a>. Theme by  <a href="http://www.devsaran.com/" title="Devsaran" target="_blank">Devsaran</a>.</div>
      </footer>
    </div>  
    <iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;" src="./node_1_歡迎！ _ 休斯頓禪修中心_files/saved_resource.html"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" style="display: none;" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}"></div></body></html>
